Here is an outline of the project
1. Installed the required libraries
2. Scrape the data from `https://www.ox.ac.uk/clarendon/scholar-class-lists/scholars-2020-21`
3. Save the scraped data into a data frame
4. Analysis the data
   * Determine the country witht the highest scholars
   * Determine the number of scholars from Africa
   * College with the highest number of scholars
   * Scholars and courses
   * Plot the number of scholars againts year

In [ ]:
import pandas as pd
import numpy as np
import requests
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36"
}

from bs4 import BeautifulSoup

In [ ]:
url = "https://www.ox.ac.uk/clarendon/scholar-class-lists/scholars-2020-21"

In [ ]:
# data_frame = pd.read_html(url, flavor="bs4")
# data_frame[0]

In [ ]:
doc = requests.get(url, headers=headers).text

In [ ]:
scholars = BeautifulSoup(doc, "html5lib")
tables = scholars.find_all("table", class_="sort-table table-striping")
pd.read_html(str(tables), flavor="bs4")[0][:2]

In [ ]:
url = "https://www.ox.ac.uk/clarendon/scholar-class-lists"

In [ ]:
doc1 = requests.get(url, headers=headers).text
scholars2 = BeautifulSoup(doc1, "html5lib")

In [ ]:
page_text = scholars2.find("nav", id="block-menu-block-10")
page_text

In [ ]:
# all_pages = page_text.find_all("a", )
all_pages = page_text.find_all("li")

In [ ]:
df = pd.DataFrame()
for i in range(len(all_pages)):
    
    query = "-".join(all_pages[i].string.split(" "))
    page_url = f"https://www.ox.ac.uk/clarendon/scholar-class-lists/{query}"
    
    page = requests.get(page_url, headers=headers).text
    doc = BeautifulSoup(page, "html5lib")
    
    tables1 = doc.find_all("table", class_="sort-table table-striping")
    result  = pd.read_html(str(tables1), flavor="bs4")
    df = result

In [ ]:
total_scholars = sum([len(df[i]) for i in range(len(df))])
total_scholars

In [ ]:
result = pd.concat(df, ignore_index=True)
result